<h2>Create New Landmark</h2>

<div>
    <form method= POST  >
        <label>Name</label>
        <input  name="landmark" type="text">
        <label>Year</label>
        <input  name="year" type="text">
    </form>
</div>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
